 /*Sfondo e logo Boolenears*/
header {
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: contain;
    height: 100px;
}

#logo {
    width: 200px;
    margin-top: 50px ;
}
/*Titolo Autore Data*/
.titolone {
    font-size: 45px;
    font-weight: bold;
}

.nota1 {
color: darkgrey;
}

#autore {
    color:blue
}

.data {
    color: darkgrey;
    font-size: 10px;
    }

/*Margine tutte le sezioni*/
section {
margin-top: 10px;
}

/*Tabella*/
thead {
    background-color: blue;
    color: white;
    text-align: left;
}

#riga-colore1 {
    background-color: cornflowerblue;
}

#riga-colore2 {
    background-color: white;
}

/*Evidenziatore*/
#highlight {
    background-color: yellow;
}

/*Interesse*/
.interesse {
    color:darkgray;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 10px;
}
*/Testo nelle foto a pie di pagina*/
.testo-foto1 {
    position: relative;
}
.testo1 {
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
}

.testo-foto2 {
    position: relative;
}
.testo2 {
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
}