header {
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: contain;
    height: 100px;
}

#logo {
    width: 200px;
    margin-top: 50px ;
}

.titolone {
    font-size: 45px;
    font-weight: bold;
}

.nota1 {
color: darkgrey;
}

#autore {
    color:blue
}

.data {
    color: darkgrey;
    font-size: 10px;
    }

section {
margin-top: 10px;
}

thead {
    background-color: blue;
    color: white;
    text-align: left;
}

#riga-colore1 {
    background-color: cornflowerblue;
}

#riga-colore2 {
    background-color: white;
}

#highlight {
    background-color: yellow;
}